:root {
  /* used fonts */
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-logo: "Raleway", sans-serif;
  /* color palette */
  --main-header-color: #000000;
  --bg-body-color: #e5e5e5;
  --logo-web-color: #2196f3;
  --logo-studio-dark: #000000;
  --logo-studio-light: #ffffff;
  --bg-head-color: #ffffff;
  --bg-footer-color: #2f303a;
  --body-color: #ffffff;
  --header-dark-color: #212121;
  --borders-color: #ececec;
  --btn-bg-accent-color: #2196f3;
  --btn-text-accent-color: #ffffff;
  --btn-bg-def-color: #f5f4fa;
  --block-bg-white-color: #f5f4fa;
  --btn-text-def-color: #212121;
  --btn-bg-hover-color: #188ce8;
  --text-description-color: #757575;
  --color-icon-grey: #afb1b8;
  --transition-time-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form, .team__list {
  display: flex;
}

.page-footer__contacts:hover, .page-footer__contacts:focus, .contacts__phone:hover, .contacts__phone:focus, .contacts__mail:hover, .contacts__mail:focus, .navigation__link:hover, .navigation__link:focus {
  color: var(--btn-bg-accent-color);
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.body {
  min-width: 1200px;
  font-family: var(--primary-font-family);
  color: var(--main-header-color);
  background-color: var(--bg-head-color);
  margin-top: 0px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.section {
  padding: 94px 0;
  background-color: var(--bg-head-color);
}

.flex {
  display: flex;
}

.section__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-dark-color);
  margin-bottom: 50px;
}

.social-links {
  display: flex;
  color: var(--color-icon-grey);
}

.social-links > li:not(:last-child) {
  margin-right: 10px;
}

.logo {
  text-decoration: none;
  font-family: var(--secondary-font-logo);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--web {
  color: var(--logo-web-color);
}

.logo--studio {
  color: var(--logo-studio-dark);
}

li > .accent__button {
  color: var(--btn-bg-accent-color);
}

.accent__button::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  border: 2px solid var(--btn-bg-accent-color);
  transform: translateY(29px);
  border-radius: 2px;
}

.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 0px;
  border-radius: 50%;
  color: var(--color-icon-grey);
  transition: color var(--transition-time-and-func), background-color var(--transition-time-and-func);
}
.button-social:hover {
  background-color: var(--btn-bg-accent-color);
  color: #ffffff;
  cursor: pointer;
}
.button-social:focus {
  background-color: var(--btn-bg-accent-color);
  color: #ffffff;
  outline: transparent;
}

.svg-social {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.page-header {
  padding: 0;
  margin: 0 auto;
  border-bottom: 1px solid var(--borders-color);
}

.page-header__container {
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.navigation__menu {
  margin-left: 93px;
}

.navigation__list {
  display: flex;
  gap: 50px;
}

.navigation__item {
  position: relative;
  display: flex;
  align-content: center;
}

.navigation__link {
  padding: 32px 0;
  text-decoration: none;
  align-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-dark-color);
  transition: color var(--transition-time-and-func);
}
.contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}

.contacts__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-description-color);
}

.svg-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__mail {
  padding: 32px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color var(--transition-time-and-func);
}
.svg-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__phone {
  padding: 32px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color var(--transition-time-and-func);
}
.hero {
  position: relative;
  max-width: 1600px;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/BG-btn-block.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  width: 600px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-text-accent-color);
}

.button-order {
  width: 200px;
  padding: 9px 0px;
  border-radius: 4px;
  border-style: none;
  background-color: var(--btn-bg-accent-color);
  color: var(--btn-text-accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-time-and-func);
}
.button-order:hover, .button-order:focus {
  background-color: var(--btn-bg-hover-color);
  cursor: pointer;
}

.features__list {
  display: flex;
}

.features__card {
  width: 270px;
}
.features__card:not(:last-child) {
  margin-right: 30px;
}

.features__icon {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: var(--block-bg-white-color);
  border-radius: 4px;
}

.svg-features {
  width: 70px;
  height: 70px;
}

.card__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--header-dark-color);
  margin: 0 0;
}

.card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-description-color);
  margin-top: 10px;
  margin-bottom: 0;
}

.directions__list {
  display: flex;
  gap: 30px;
}

.directions__item {
  position: relative;
  display: flex;
  margin: 0px auto;
}

.directions__description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: calc(100% - (100% - 54px));
  min-height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--block-bg-white-color);
}

.team__list {
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.team__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card__wrapper {
  padding: 30px 32px;
  background-color: #ffffff;
}

.team__card__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-dark-color);
}

.team__card__description {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-description-color);
}

.logos__list {
  display: flex;
}
.logos__list > li:not(:last-child) {
  margin-right: 30px;
}

.logo-client {
  display: inline-block;
  padding: 14px 30px;
  border: 1px solid var(--color-icon-grey);
  border-radius: 4px;
  color: var(--color-icon-grey);
  transition: color var(--transition-time-and-func), border var(--transition-time-and-func);
}
.logo-client:hover {
  color: var(--btn-bg-accent-color);
  border: 1px solid var(--btn-bg-accent-color);
  cursor: pointer;
}
.logo-client:focus {
  color: var(--btn-bg-accent-color);
}

.svg-client {
  fill: currentColor;
}

.page-footer {
  padding: 60px 0;
  background-color: var(--bg-footer-color);
}

.page-footer__container {
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.page-footer__box {
  margin-right: 70px;
}

.logo-wrapper {
  margin-bottom: 20px;
}

.logo--footer {
  color: var(--logo-studio-light);
}

.address__list {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__map-link {
  color: var(--bg-head-color);
}

.page-footer__contacts {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-time-and-func);
}
.button-footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.join-social__block-wrapper {
  margin-right: 70px;
}

.subscribe {
  align-self: flex-start;
}

.subscribe__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.contact-us__block {
  display: flex;
  align-self: flex-start;
  margin-top: 12px;
}

.portfolio-main {
  background-color: var(--bg-head-color);
}

.sort-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button-filter {
  background-color: var(--btn-bg-def-color);
  color: var(--btn-text-def-color);
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-time-and-func), box-shadow var(--transition-time-and-func);
}
.button-filter:hover, .button-filter:focus {
  background-color: var(--btn-bg-accent-color);
  color: var(--btn-text-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: transparent;
}

.active-btn {
  background-color: var(--btn-bg-accent-color);
  color: var(--btn-text-accent-color);
}

.projects {
  padding-top: 50px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
  background-color: var(--bg-head-color);
  transition: box-shadow var(--transition-time-and-func), translate var(--transition-time-and-func);
}
.project-item:hover, .project-item:focus {
  outline: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.project-item:hover .overlay-project-description, .project-item:focus .overlay-project-description {
  transform: translateY(0);
}

.img-project {
  position: relative;
  overflow: hidden;
}

.overlay-project-description {
  position: absolute;
  display: inline-block;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--btn-text-accent-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-time-and-func);
}

.card-description {
  padding: 20px 24px;
  border: 1px solid var(--borders-color);
  border-top: 0px;
}

.projects-list-title {
  margin-bottom: 4px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-dark-color);
}

.projects-list-desription {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-description-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  visibility: visible;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-time-and-func), visibility 250ms linear, transform var(--transition-time-and-func);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--body-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-text-def-color);
}

.svg-close-cross {
  fill: currentColor;
}

.close-round-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 50%;
  background-color: var(--body-color);
  transition: background-color var(--transition-time-and-func), color var(--transition-time-and-func);
}

.close-round-button:hover {
  cursor: pointer;
  background-color: var(--body-color);
  color: var(--btn-bg-accent-color);
}

.modal-form > p {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  flex-direction: column;
  padding: 40px;
  margin: 0 auto;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-time-and-func);
}
.form-input:hover, .form-input:focus {
  border: 1px solid var(--btn-bg-accent-color);
  outline: var(--btn-bg-accent-color);
}
.form-input:hover + .icon-profile, .form-input:focus + .icon-profile, .form-input:hover + .icon-tel, .form-input:focus + .icon-tel, .form-input:hover + .icon-mail, .form-input:focus + .icon-mail {
  fill: var(--btn-bg-accent-color);
}

.icon-profile {
  position: absolute;
  left: 15px;
  top: 14px;
  width: 12px;
  height: 12px;
  fill: currentColor;
  transition: fill var(--transition-time-and-func);
}

.icon-tel {
  position: absolute;
  left: 15px;
  top: 14px;
  width: 13px;
  height: 13px;
  fill: currentColor;
  transition: fill var(--transition-time-and-func);
}

.icon-mail {
  position: absolute;
  left: 15px;
  top: 14px;
  width: 15px;
  height: 12px;
  fill: currentColor;
  transition: fill var(--transition-time-and-func);
}

.comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.accept-description {
  position: relative;
  align-items: center;
  padding-left: 25px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-description-color);
  cursor: pointer;
}

.check-input:checked + .box-check {
  border-color: var(--btn-bg-accent-color);
  background-color: var(--btn-bg-accent-color);
}

.check-input:checked + .icon-check {
  fill: var(--body-color);
}

.icon-check {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(3px, 3px);
  width: 11px;
  height: 8px;
  fill: var(--body-color);
  transition: fill var(--transition-time-and-func);
}

.box-check {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-header-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  transition: border var(--transition-time-and-func);
}

.button__modal {
  margin-top: 30px;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  border-radius: 4px;
  border-style: inset;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--bg-footer-color);
  color: rgba(255, 255, 255, 0.6);
  transition: filter var(--transition-time-and-func);
}
.subscribe__input:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
}
.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-submit {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--btn-bg-accent-color);
  color: #ffffff;
  transition: box-shadow var(--transition-time-and-func), background-color var(--transition-time-and-func), color var(--transition-time-and-func);
}
.button-submit:hover, .button-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--btn-bg-hover-color);
  color: var(--bg-body-color);
  cursor: pointer;
}

.button-submit__icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */