@import "./utils/variables";
@import "./utils/visually-hidden";

@import './utils/functions';
@import './utils/placeholders';
@import './utils/mixin';

@import "./base/common";
@import "./base/body";
@import "./base/container";
@import "./base/section";
@import "./base/flex";
@import "./base/section-title";
@import "./base/social-links";

@import "./components/logo";
@import "./components/header-accent-button";
@import "./components/button-social";
@import "./components/button-submit";

@import "./layout/header";

@import "./layout/hero";
@import "./layout/features";
@import "./layout/directions";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./portfolio-page/portfolio-main";
@import "./portfolio-page/filter-buttons";
@import "./portfolio-page/pojects-gallery";
@import "./forms/modal-hero";
@import "./forms/subscribe-form";