.clients{
        @media screen and (min-width: 1200px) {
            max-width: 1200px;
        }
    
        @media screen and (max-width: 480px) {
            min-width: 480px;
        }

}
.clients__list {
    display: flex;
    justify-content: center;

        @media screen and (min-width: 1200px) {
            gap: 30px;
        }
    
        @media screen and (max-width: 1199px) {
            flex-basis: calc((100% - (60px)) / 3);
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    
        @media screen and (max-width: 480px) {
            max-width: 450px;
            flex-basis: calc((100% - (30px)) / 2);
        }
}

.clients__logo {
    display: inline-block;
    padding: 14px 30px;
    border: 1px solid var(--color-icon-grey);
    border-radius: 4px;
    color: var(--color-icon-grey);
    transition: color var(--transition-time-and-func),
        border var(--transition-time-and-func);

        &:hover {
                color: var(--btn-bg-accent-color);
                border: 1px solid var(--btn-bg-accent-color);
                cursor: pointer;
            }
        
            &:focus {
                color: var(--btn-bg-accent-color);
            }
}



.clients__svg {
    fill: currentColor;
}