.logos__list {
    display: flex;

    &>li:not(:last-child) {
            margin-right: 30px;
        }
}

.logo-client {
    display: inline-block;
    padding: 14px 30px;
    border: 1px solid var(--color-icon-grey);
    border-radius: 4px;
    color: var(--color-icon-grey);
    transition: color var(--transition-time-and-func),
        border var(--transition-time-and-func);

        &:hover {
                color: var(--btn-bg-accent-color);
                border: 1px solid var(--btn-bg-accent-color);
                cursor: pointer;
            }
        
            &:focus {
                color: var(--btn-bg-accent-color);
            }
}



.svg-client {
    fill: currentColor;
}