.features{
    @media screen and (min-width: 1200px) {
            padding-bottom: 47px;
            max-width: 1200px;
        }
    @media screen and (max-width: 480px) {
        min-width: 480px;
    }
}
.features__list {
    
    @media screen and (min-width: 1200px) {
            display: flex;
        }
    
        @media screen and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    
        @media screen and (max-width: 480px) {
            display: flex;
            flex-direction: column;
        }
}

.features__card {
    @media screen and (min-width: 1200px) {
        max-width: 270px;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
    
    @media screen and (max-width: 1199px) {
        flex-basis: calc((100% - (30px)) / 2);
    }
    
    @media screen and (max-width: 480px) {
        max-width: 450px;
    }
        
}

.features__icon {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    background-color: var(--block-bg-white-color);
    border-radius: 4px;
}

.svg-features {
    width: 70px;
    height: 70px;
}

.features__title {
    text-transform: uppercase;
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    color: var(--header-dark-color);
    margin: 0 auto;
    @media screen and (max-width: 480px) {
            display: flex;
            justify-content: center;
        }
    
 }

.features__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-description-color);
    margin-top: 10px;
    margin-bottom: 0;
}