.page-header {
    padding: 0;
    margin: 0 auto;
    border-bottom: 1px solid var(--borders-color);
}
.page-header__container {
    display: flex;
    
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
    @media screen and (min-width: 1200px) {
            max-width: 1200px;
        }
    
        @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
            gap: 30px;
        }
                @media screen and (min-width: 480px) and (max-width: 728px) {
                    flex-direction: column;
                }
        @media screen and (max-width: 480px) {
            flex-direction: column;
        }
}
.navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.navigation__menu {
    @media screen and (min-width: 1200px){
    margin-left: 93px;
    }
        @media screen and (max-width: 1199px) {
            margin-left: 88px;
        }
                @media screen and (max-width: 480px) {
                    margin-left: 40px;
                }
}

.navigation__list {
    display: flex;
    gap: 50px;
    @media screen and (max-width: 480px) {
            gap: 30px;
        }
}

.navigation__item {
    position: relative;
}

.navigation__link {
    padding: 32px 0;
    text-decoration: none;
    align-content: center;
    @include font(14px, 500, 16px);
    letter-spacing: 0.02em;
    color: var(--header-dark-color);
    transition: color var(--transition-time-and-func);

    &:hover, &:focus {
            @extend %hov-foc-features;
    }
}

.contacts {
    display: flex;
    align-items: center;
    gap: 50px;
        @media screen and (max-width: 1199px) {
            flex-direction: column;
            gap: 10px;
        }
}

.contacts__item {
    @include font(14px, 500, 16px);
    letter-spacing: 0.02em;
    color: var(--text-description-color);
}

.svg-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.contacts__mail {
    padding: 32px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color var(--transition-time-and-func);

    &:hover,
        &:focus {
            @extend %hov-foc-features;
        }
        @media screen and (max-width: 1199px) {
            padding-top: 21px;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }
}

.svg-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
.contacts__phone {
    padding: 32px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color var(--transition-time-and-func);

    &:hover,
        &:focus {
            @extend %hov-foc-features;
        }
    
                @media screen and (max-width: 1199px) {
                    padding-top: 0px;
                    padding-right: 0;
                    padding-left: 0;
                    padding-bottom: 21px;
                }
}