.open-mobile-menu-btn__icon {
    @media screen and (max-width: 480px) {
    display: block;
}
}

.page-header {
    padding: 0;
    margin: 0 auto;
    border-bottom: 1px solid var(--borders-color);
}
.page-header__container {
    display: flex;
    padding: 15px;
    margin: 0 auto;
    min-width: 480px;
    align-items: center;
    @media screen and (min-width: 480px) {
            flex-direction: row;
            justify-content: space-between;
            padding: 15px;
        }
    
        @media screen and (min-width: 768px) {
        padding: 0;
        }
}

.navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.navigation__menu {
        @media screen and (min-width: 768px) {
    margin-left: 88px;
        }
                @media screen and (max-width: 768px) {
                    display: none;
                }

}

.navigation__list {
    display: flex;
    gap: 50px;
    @media screen and (max-width: 480px) {
            gap: 30px;
        }
}

.navigation__item {
    position: relative;
}

.navigation__link {
    padding: 32px 0;
    text-decoration: none;
    align-content: center;
    @include font(14px, 500, 16px);
    letter-spacing: 0.02em;
    color: var(--header-dark-color);
    transition: color var(--transition-time-and-func);

    &:hover, &:focus {
            @extend %hov-foc-features;
    }
}

.contacts {
    display: flex;
    
    gap: 50px;
    @media screen and (max-width: 768px) {
            display: none;
        }
    
        @media screen and (min-width: 768px) {
            flex-direction: column;
            gap: 10px;
        }
                 @media screen and (min-width: 1200px) {
                    flex-direction: row;
                    gap: 30px;
                    align-items: center;
                 }

}

.contacts__item {
    @include font(14px, 500, 16px);
    letter-spacing: 0.02em;
    color: var(--text-description-color);
}

.svg-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.contacts__mail {
    padding: 32px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color var(--transition-time-and-func);

    &:hover,
        &:focus {
            @extend %hov-foc-features;
        }
        @media screen and (min-width: 768px){
            padding-top: 21px;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }
                @media screen and (min-width: 1200px) {
                    padding: 32px 0;
                }
}

.svg-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
.contacts__phone {
    padding: 32px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color var(--transition-time-and-func);

    &:hover,
        &:focus {
            @extend %hov-foc-features;
        }
    
                @media screen and (min-width: 768px) {
                    padding-top: 0px;
                    padding-right: 0;
                    padding-left: 0;
                    padding-bottom: 21px;
                }
                                @media screen and (min-width: 1200px) {
                                    padding: 32px 0;
                                }
}
@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }

    .page-header__modal-btn {
        display: none;
    }

    .open-mobile-menu-btn {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .open-mobile-menu-btn__icon {
        display: block;
    }
}