.hero {
    position: relative;
    margin: 0 auto;
        text-align: center;
        background-color: #c4c4c4;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/bg-hero-lg.jpg);
        max-width: 1600px;
        min-height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/bg-hero-lg@2x.jpg);
            }
    }
    @media screen and (max-width: 1199px)  {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/bg-hero-md.jpg);
                background-size: contain;
        width: 100%;
        min-height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/bg-hero-md@2x.jpg);
            }
    }
    @media screen and (max-width: 480px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/bg-hero-sm.jpg);
            width: 480px;
            min-height: 400px;
            padding-top: 118px;
            padding-bottom: 118px;
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/bg-hero-sm@2x.jpg);
        }
    }
    
}

.hero__title {
    margin-top: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--btn-text-accent-color);

    @media screen and (max-width: 1199px) {
        width:360px;
        @include font(26px, 900, 42px);
    }

    @media screen and (min-width: 1200px) {
    width: 600px;
    @include font(44px, 900, 60px);
    }
}

.button-order {
    width: 200px;
    padding: 9px 0px;
    border-radius: 4px;
    border-style: none;
    background-color: var(--btn-bg-accent-color);
    color: var(--btn-text-accent-color);
    @include font(16px,700,30px);
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-time-and-func);

    &:hover,
    &:focus {
        background-color: var(--btn-bg-hover-color);
        cursor: pointer;
    }
}
