.logo {
    text-decoration: none;
    font-family: var(--secondary-font-logo);
    @include font(26px, 700, 31px);
    letter-spacing: 0.03em;
    @media screen and (max-width: 1199px) {
            @include font (24px, 700, 28px);
    }
    @media screen and (max-width: 480px) {
         @include font (24px, 700, 28px);
    }
}

.logo--web {
    color: var(--logo-web-color);
}

.logo--studio {
    color: var(--logo-studio-dark);
}