.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filter__button {
  background-color: var(--btn-bg-def-color);
  color: var(--btn-text-def-color);
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
  @include font(16px,700,18px);
  letter-spacing: 0.06em;
  transition: background-color var(--transition-time-and-func),
    box-shadow var(--transition-time-and-func);

    &:hover,
      &:focus {
        background-color: var(--btn-bg-accent-color);
        color: var(--btn-text-accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        outline: transparent;
      }
}
.filter__button--active {
  background-color: var(--btn-bg-accent-color);
  color: var(--btn-text-accent-color);
}